<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/clintsInfo.css">

</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <div class="bootstrap backimg">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Job Title</th>
                <th scope="col">Company Name</th>
                <th scope="col">Email</th>
                <th scope="col">Sector</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <% for (clint of prods) { %>    
            <tr>
                <td scope="row"></td>
                <td><%= clint.firstName %></td>
                <td><%= clint.lastName %></td>
                <td><%= clint.jobTitle %></td>
                <td><%= clint.companyName %></td>
                <td><%= clint.workEmail %></td>
                <td><%= clint.sector %></td>
                <td><%= clint.description %></td>
            </tr>
            <% } %>
            </tbody>
        </table>

    </div>

<%- include('includes/end.ejs') %>