<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/sectorsStyle.css">

</head>
<body>
    <%- include('includes/navigation.ejs') %>

    <!-- Cards -->

    <div class="serveces-container">
        <% for (sector of sect) { %>
        <div class="card">
            <div class="card-img <%= sector.img%>"></div>
            <h2><%= sector.sector%></h2>
            <!-- <p>Get best prices and required specs from many suppliers.</p> -->
            <a href= <%= sector.path%>>Learn more</a>
        </div>
        <% } %>
    </div>
    
    <script src="/js/sectors/sectors.js"></script>

<%- include('includes/end.ejs') %>