<div class="header">
    <div class="inner_header flex">
        <div class="logo_container">
            <a href="/">
                <img src="/images/Connected-Vision-Logo.gif" alt="logo">
            </a>
        </div>

        <button class="mobile-nav-toggle" aria-controls="navigation" aria-expanded="false">
            <span class="sr-only">Menu</span></button>

        <ul id="navigation" data-visible="false" class="navigation flex">
            <li>
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li>
                <a class="<%= path === '/sectors' ? 'active' : '' %>" href="/sectors">Sectors</a>
            </li>
            <li>
                <a class="<%= path === '/services' ? 'active' : '' %>" href="/services">Services</a>
            </li>
            <li>
                <a class="<%= path === '/about-us' ? 'active' : '' %>" href="/about-us">About us</a>
            </li>
            <li>
                <a class="<%= path === '/meet-the-team' ? 'active' : '' %>" href="/meet-the-team">Meet the team</a>
            </li>
            <li>
                <a class="<%= path === '/job-form' ? 'active' : '' %>" href="/job-form">Jobs</a>
            </li>
            <li>
                <a class="<%= path === '/clints-form' ? 'active' : '' %>" href="/clints-form">Contact us</a>
            </li>
        </ul>
    </div>
</div>  